@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* variable scheme */
:root {
     --font-standard: 'Inter', sans-serif;
     --font-regular: 400;
     --font-medium: 500;
     --font-semiboldr: 600;
     --font-bold: 700;
     --font-extrabold: 800;
     --font-black: 900;
     --size-tablet: 768px;
     --size-desktop: 1400px;
     
     --transparent: transparent;
     --background-color: var(--gray-10);
     --surface-color: var(--gray-20);
     --border-color: var(--Cool-gray-20);

     --gray-10: #FFFFFF;
     --gray-20: #F7F7F7;
     --gray-30: #EDEDED;
     --gray-40: #E0E0E1;
     --gray-50: #C3C3C4;
     --gray-60: #9F9FA1;
     --gray-70: #777779;
     --gray-80: #636365;
     --gray-90: #434345;
     --gray-100: #1E1E20;

     --Cool-gray-10: #EEEFFF;
     --Cool-gray-20: #E4E5F5;
     --Cool-gray-30: #DDDEED;
     --Cool-gray-40: #D1D2E0;
     --Cool-gray-50: #B0B1BD;
     --Cool-gray-60: #8F8F99;
     --Cool-gray-70: #72737A;
     --Cool-gray-80: #56565C;
     --Cool-gray-90: #39393D;
     --Cool-gray-100: #131314;

     --Secondary-50: #D3DAF9;
     --Secondary-60: #ABB4DD;
     --Secondary-70: #707DBF;
     --Secondary-90: #5562A2;
     --Secondary-100: #37437D;
     --Secondary-110: #1C2346;

     --Primary-30: #FDEDFE;
     --Primary-40: #FCE2FE;
     --Primary-50: #FCD3FE;
     --Primary-90: #F589FA;
     --Primary-100: #F26CF9;

     --Yellow-90: #FFEFC3;
     --Yellow-100: #FFCA39;

     --red: #DE3434;
     --red-dark: #B83030;

      /* Nav links */
     --navlink-text-color: var(--Secondary-100);
     --navlink-text-hover-color: var(--Primary-50);
     --navlink-text-active-color: var(--Primary-100);
     --navlink-background-color: var(--transparent);
     --navlink-background-hover-color:var(--Primary-100);
     --navlink-background-active-color:var(--Primary-30);

      /* buttons */
     --btn-pink-text-color: var(--gray-10);
     --btn-pink-border-color: var(--gray-10);
     --btn-pink-background-color: var(--Primary-100);
     --btn-pink-text-hover-color: var(--Primary-50);
     --btn-pink-border-hover-color: var(--Cool-gray-20);
     --btn-pink-background-hover-color: var(--gray-60);
    /*form */
    --form-border-color: var(--Cool-gray-50);
    --form-error-message-text-color: var(--red-dark);
    --form-error-message-background-color: var(--red);
    }

/* Base */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-size: 16px;
    font-weight: var(--font-regular);
    font-family: var(--font-standard);
    font-style: normal;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Structure */
.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.surface {
    padding: 2rem;
    border-radius: 16px;
    background-color: var(--surface-color);
    box-shadow: 0 4px 4px 3px rgba(196, 196, 196, 0.1);
}

.portal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "logo top main";
    height: 100dvh;
    span {
        display: none;
    }
    .logotype {
        grid-area: logo;
        border: 1px solid var(--border-color);
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        height: 25px;
        width: 25px;
    }
     .top {
        grid-area: top;
         border: 1px solid var(--border-color);
            padding: 1rem 2rem;
            display: grid;
            grid-template-columns: 1fr auto auto auto;
            gap: 3rem;
            align-items: center;
            margin-bottom: 2rem;
        height: 100px;
         width: 100px;
     }
    @media (width >= 768px) {
        grid-template-columns:  1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "logo top" "side main";
        
    }
     @media (width >= 1400px) {
        display: grid;
        grid-template-columns: minmax(50px, 270px) 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "logo top" "side main";
        height: 100dvh;
        span {
        display: block;
        }
        .logotype {
            grid-area: logo;
            border: 1px solid var(--border-color);
            padding: 1rem 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.2rem;
        }

        .side {
            grid-area: side;
            border: 1px solid var(--border-color);
            padding: 1rem 2rem;
        }

        .top {
            grid-area: top;
            border: 1px solid var(--border-color);
            padding: 1rem 2rem;
            display: grid;
            grid-template-columns: 1fr auto auto auto;
            gap: 3rem;
            align-items: center;
            margin-bottom: 2rem;
        }

        .main {
            grid-area: main;
            padding: 2rem;
            margin-top: 2rem;
            border: 1px solid var(--border-color);
            border-radius: 16px;
            background-color: var(--background-color);
        }  
    }
 
    
} 

#footer{
    display: grid;
    gap: 3rem;
  
.footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    color: var(--gray-70);
    padding: 1rem;
    }
}  
 
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* typography */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-standard);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    font-weight: var(--font-bold);
}

h2 {
    font-size: 32px;
    font-weight: var(--font-bold);
}

h3 {
    font-size: 28px;
    font-weight: var(--font-bold);
}

h4 {
    font-size: 24px;
    font-weight: var(--font-semibold);
}

h5 {
    font-size: 20px;
    font-weight: var(--font-semibold);
}

h6 {
    font-size: 18px;
    font-weight: var(--font-semibold);
}

/* nav link */


.nav-links {
    margin: 2rem 0;
    display: none;

    @media (width >= 768px) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
       cursor: pointer;
    
        .nav-link {
            font-size: 1em;
            font-family: var(--font-standard);
            font-weight: var(--font-semibold);
            text-decoration: none;
            color: var(--navlink-text-color);
            background-color: var(--navlink-background-color);
            border-radius: 1rem;
            padding: 1rem 1.5rem;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.2rem;

            .icon {
                width: 1.5rem;
                height: 1.5rem;
                color: var(--navlink-text-color);
                &:hover {
                    color: var(--navlink-text-hover-color);
                    background-color: var(--btn-pink-background-color);
                    border-radius: 2rem;
                }
                &.active {
                    color: var(--navlink-text-hover-color);
                    background-color: var(--btn-pink-background-color);
                    border-radius: 2rem;
                }
            }
        }
         .nav-link:hover{
            color: var(--navlink-text-hover-color);
            background-color: var(--btn-pink-background-color);
            padding: 1rem 1.5rem;
            border-radius: 2rem;
        }

         .nav-link.active {
            color: var(--navlink-text-active-color);
            background-color: var(--btn-pink-background-color);
        }
    }

    @media (width >= 1400px) {
        transition: background 0.3s ease;
        span {
            display: block;
        }
        .nav-link:hover{
            color: var(--navlink-text-hover-color);
            background-color: var(--navlink-background-hover-color);
            padding: 1rem 1.5rem;
            border-radius: 2rem;
        }

         .nav-link.active {
            color: var(--navlink-text-active-color);
            background-color: var(--navlink-background-active-color);
            padding: 1rem 1.5rem;
            border-radius: 2rem;
            
        }
    }  
 }     


    .tab-links {
        font-size: 1em;
        font-family: var(--font-standard);
        font-weight: var(--font-semibold);
        text-decoration: none;
        color: var(--navlink-text-color);
        background-color: var(--navlink-background-color);
        border-radius: 1rem;
        padding: 1rem 1.5rem;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 1.2rem;
    

        .tab-link:hover {
            color: var(--navlink-text-hover-color);
            background-color: var(--navlink-background-hover-color);
        }
}
.tab-link.active {
    color: var(--navlink-text-active-color);
    background-color: var(--navlink-background-active-color);
}

.tab-link {
    font-family: var(--font-standard);
    font-weight: var(--font-bold);
    font-size: 15px;
}

a {
    color: var(--navlink-text-color);
    text-decoration: none;
}

    a:hover {
        color: var(--navlink-text-hover-color);
        text-decoration: underline;
    }
    a:active {
        color: var(--navlink-text-active-color);
        text-decoration: underline;
    }

/* card */
.event-card{
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas: "img img img " "date" "name";
    border-radius: 16px;
    background-color: var(--surface-color);
    box-shadow: 0 4px 4px 3px var(--Cool-gray-40);
    padding: 1rem;
    margin: 1rem;
}

.event-card-image {
    grid-area: img;
    border-radius: 16px;
    object-fit: cover;
    background-color: var(--Primary-50);

}
.event-card-date {
    grid-area: date;
    font-size: 1em;
    font-weight: var(--font-regular);
    color: var(--gray-70);
    padding: 1rem;
}
.event-card-title {
    grid-area: name;
    font-size: 1.2em;
    font-weight: var(--font-bold);
    color: var(--gray-100);

        padding: 0.5rem;
}

.event-card-location{
    font-size: 0.8em;
    font-weight: var(--font-regular);
    color: var(--gray-70);
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;
    .location-icon {
        width: 1.5rem;
        height: 1.5rem;
        color: var(--navlink-text-color);
    }
}

/* event details */
.event-details {
    display:flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 16px;
    background-color: var(--surface-color);
    height: 90%;
    width: 50%;

}
.event-details-image{
    width: 450px;
    height: 250px;
    border-radius: 16px;
    object-fit: cover;
    background-color: var(--Primary-50);
    padding: 1rem;
}
.event{
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    .event-icon {
        width: 1.5rem;
        height: 1.5rem;
        color: var(--navlink-text-color);
    }
}

.about {
    margin-top: 1rem;
    padding-top: 1rem;
}

/* buttons */
.book-btn {
    font-family: var(--font-standard);
    font-weight: var(--font-bold);
    font-size: 1em;
    text-decoration: none;
    color: var(--btn-pink-text-color);
    background-color: var(--btn-pink-background-color);
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    margin-bottom: 10px;
}

    .book-btn:hover {
        color: var(--btn-pink-text-hover-color);
        background-color: var(--btn-pink-background-hover-color);
        border: 1px solid var(--btn-pink-border-hover-color);
    }

    .book-btn:active {
        color: var(--btn-pink-text-color);
        background-color: var(--btn-pink-background-color);
        border: 1px solid var(--btn-pink-border-color);
    }

/* forms */
form {
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    height: 100%;

     .form-group {
        position: relative;
        display: grid;
        gap: 0.5rem;
        margin-bottom: 1.2rem;
    }

     .field-group {
        position: relative;
    }

     input,
     textarea {
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 16px;
        border: 1px solid var(--form-border-color);
        color: var(--gray-90);
        outline: none;
        width: 50%;
    }

    .field-validation-error {
        position: absolute;
        z-index: 1;
        right: 0.18rem;
        top: 3px;
        font-size: 0.8em;
        background-color: var(--form-error-message-background-color);
        color: var(--form-error-message-text-color);
        padding: 0.4rem 1rem;
        border-radius: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
}

/* sections */
#events {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 1rem;
    margin: 2rem;
    gap: 3rem;

    .events-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    @media (width >= 768px) {
        .events-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
    }
    @media (width >= 1400px) {
        .events-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
        }
    }
}